.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }


  tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 600px;
  }

  .h-n{
    width:45px;
  } 
  .h-p{
    width:300px;
  } 
  .h-c{
    width:80px;
  } 
  .h-s{
    width:100px;
  } 
  .h-sc{
    width:100px;
  } 
  .h-d{
    width:100px;
  } 
  .t-h{
    height:617px;
  }
  .s-h{
    height:56px;
  }