.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }


  tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 600px;
  }

  .t-w-40{
    width:40px;
  } 
  .t-w-200{
    width:200px;
  } 
  .t-w-45{
    width:45px;
  } 
  .t-w-45{
    width:45px;
  } 
  .t-w-45{
    width:45px;
  } 
  .t-w-45{
    width:45px;
  }